# Carga de otros formatos de datos en Pandas

Los archivos de datos pueden tener diferentes formatos, como CSV, Excel, JSON, etc. Pandas tiene métodos para cargar cada uno de estos formatos.

## Excel

Los archivos de Excel son muy comunes en el mundo de los negocios. Pandas tiene el método read_excel() para leer archivos de Excel.

Algunos parámetros que habitualmente hay que configurar son:

* sheet_name: nombre de la hoja de Excel
* header: fila que contiene los nombres de las columnas
* index_col: columna que contiene el índice
* usecols: columnas que se quieren cargar
* skipfooter: número de filas a saltar al final del archivo
* skiprows: número de filas a saltar al inicio del archivo
* parse_dates: columnas que se quieren cargar como fechas
* thousands: separador de miles
* decimal: separador decimal

In [1]:
from pathlib import Path

import pandas as pd

ROOT_DIR = Path().resolve().parent
DATA_DIR = ROOT_DIR / "data/raw"

In [2]:
file_name = "DETERIORO-SUPERSOLIDARIA-2022-06.xlsx"
file_path = DATA_DIR / file_name

df = pd.read_excel(
    file_path,
    sheet_name="PE completa",
    )

df.head()

,Superintendencia de la Economia Solidaria,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29
0,XXXXXXX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,INFORME INDIVIDUAL CALCULO DE DETERIORO DE CAR...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Cartera,TipoIden,NUMIDENT,NUMCREDITO,CodigoContable,SaldoCapital,SaldoIntereses,PagoxAsociados,APORTES,AHORROPERMANENTE,...,DETERIOROCAPITAL,DETERIOROINTERESES,DETERIOROPAGOASOCIADOS,SALDOPENDIENTE,PLAZOALICUOTA,VALORALICUOTA,DETERIOROACUM,Provisión,Provisión intereses,CodOficina
3,Consumo sin libranza,E,204414,006-002-0026036-3,144205,1522000,119460,0,622689,NaN,...,0.927223,0.072777,0,NaN,NaN,NaN,NaN,0,0,6
4,Consumo sin libranza,E,219552,003-002-0114066-3,144205,8389223,67672,0,3378982,NaN,...,0.991998,0.008002,0,NaN,NaN,NaN,NaN,0,0,3

In [3]:
df = pd.read_excel(
    file_path,
    sheet_name="PE completa",
    skiprows=3,
    )

df

,Cartera,TipoIden,NUMIDENT,NUMCREDITO,CodigoContable,SaldoCapital,SaldoIntereses,PagoxAsociados,APORTES,AHORROPERMANENTE,...,DETERIOROCAPITAL,DETERIOROINTERESES,DETERIOROPAGOASOCIADOS,SALDOPENDIENTE,PLAZOALICUOTA,VALORALICUOTA,DETERIOROACUM,Provisión,Provisión intereses,CodOficina
0,Consumo sin libranza,E,204414,006-002-0026036-3,144205.0,1.522000e+06,1.194600e+05,0.0,6.226890e+05,NaN,...,0.927223,0.072777,0.0,NaN,NaN,NaN,NaN,0.000000e+00,0.0,6.0
1,Consumo sin libranza,E,219552,003-002-0114066-3,144205.0,8.389223e+06,6.767200e+04,0.0,3.378982e+06,NaN,...,0.991998,0.008002,0.0,NaN,NaN,NaN,NaN,0.000000e+00,0.0,3.0
2,Consumo sin libranza,E,219552,003-002-0118393-8,144205.0,6.980657e+06,5.119400e+04,0.0,2.811644e+06,NaN,...,0.992720,0.007280,0.0,NaN,NaN,NaN,NaN,0.000000e+00,0.0,3.0
3,Consumo sin libranza,E,326385,006-002-0026041-6,144205.0,3.576585e+06,2.789800e+04,0.0,1.350010e+05,NaN,...,0.992260,0.007740,0.0,NaN,NaN,NaN,NaN,0.000000e+00,0.0,6.0
4,Consumo sin libranza,E,341775,004-002-0068475-5,144205.0,7.511483e+07,5.783820e+05,0.0,1.869267e+06,NaN,...,0.992359,0.007641,0.0,NaN,NaN,NaN,NaN,0.000000e+00,0.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17713,Comercial PJ,N,901-369-605-9,006-001-0000015-5,146520.0,1.976288e+07,3.465820e+05,0.0,0.000000e+00,NaN,...,0.982765,0.017235,0.0,NaN,NaN,NaN,NaN,2.964432e+06,173291.0,6.0
17714,Comercial PJ,N,901-376-601-9,006-001-0000013-7,146515.0,2.873293e+07,1.790950e+05,0.0,0.000000e+00,NaN,...,0.993806,0.006194,0.0,NaN,NaN,NaN,NaN,0.000000e+00,0.0,6.0
17715,Comercial PJ,N,901-410-580-8,006-001-0000011-9,146525.0,2.470362e+07,8.052900e+05,0.0,0.000000e+00,NaN,...,0.968431,0.031569,0.0,NaN,NaN,NaN,NaN,7.369086e+06,805290.0,6.0
17716,Comercial PJ,N,901-515-657-8,006-001-0000007-5,146515.0,1.709909e+08,1.563996e+06,0.0,0.000000e+00,NaN,...,0.990936,0.009064,0.0,NaN,NaN,NaN,NaN,0.000000e+00,0.0,6.0
17717,Total,NaN,NaN,NaN,NaN,2.554802e+11,5.623995e+09,0.0,3.034827e+10,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.216570e+10,NaN,NaN

In [4]:
df = pd.read_excel(
    file_path,
    sheet_name="PE completa",
    skiprows=3,
    skipfooter=1
    )

df

,Cartera,TipoIden,NUMIDENT,NUMCREDITO,CodigoContable,SaldoCapital,SaldoIntereses,PagoxAsociados,APORTES,AHORROPERMANENTE,...,DETERIOROCAPITAL,DETERIOROINTERESES,DETERIOROPAGOASOCIADOS,SALDOPENDIENTE,PLAZOALICUOTA,VALORALICUOTA,DETERIOROACUM,Provisión,Provisión intereses,CodOficina
0,Consumo sin libranza,E,204414,006-002-0026036-3,144205.0,1522000.0,119460.0,0.0,622689.0,NaN,...,0.927223,0.072777,0.0,NaN,NaN,NaN,NaN,0.0,0.0,6.0
1,Consumo sin libranza,E,219552,003-002-0114066-3,144205.0,8389223.0,67672.0,0.0,3378982.0,NaN,...,0.991998,0.008002,0.0,NaN,NaN,NaN,NaN,0.0,0.0,3.0
2,Consumo sin libranza,E,219552,003-002-0118393-8,144205.0,6980657.0,51194.0,0.0,2811644.0,NaN,...,0.992720,0.007280,0.0,NaN,NaN,NaN,NaN,0.0,0.0,3.0
3,Consumo sin libranza,E,326385,006-002-0026041-6,144205.0,3576585.0,27898.0,0.0,135001.0,NaN,...,0.992260,0.007740,0.0,NaN,NaN,NaN,NaN,0.0,0.0,6.0
4,Consumo sin libranza,E,341775,004-002-0068475-5,144205.0,75114827.0,578382.0,0.0,1869267.0,NaN,...,0.992359,0.007641,0.0,NaN,NaN,NaN,NaN,0.0,0.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17712,Comercial PJ,N,901-285-696-7,002-001-0000024-8,146515.0,44833227.0,279463.0,0.0,0.0,NaN,...,0.993805,0.006195,0.0,NaN,NaN,NaN,NaN,0.0,0.0,2.0
17713,Comercial PJ,N,901-369-605-9,006-001-0000015-5,146520.0,19762878.0,346582.0,0.0,0.0,NaN,...,0.982765,0.017235,0.0,NaN,NaN,NaN,NaN,2964432.0,173291.0,6.0
17714,Comercial PJ,N,901-376-601-9,006-001-0000013-7,146515.0,28732926.0,179095.0,0.0,0.0,NaN,...,0.993806,0.006194,0.0,NaN,NaN,NaN,NaN,0.0,0.0,6.0
17715,Comercial PJ,N,901-410-580-8,006-001-0000011-9,146525.0,24703620.0,805290.0,0.0,0.0,NaN,...,0.968431,0.031569,0.0,NaN,NaN,NaN,NaN,7369086.0,805290.0,6.0
17716,Comercial PJ,N,901-515-657-8,006-001-0000007-5,146515.0,170990903.0,1563996.0,0.0,0.0,NaN,...,0.990936,0.009064,0.0,NaN,NaN,NaN,NaN,0.0,0.0,6.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17717 entries, 0 to 17716
Data columns (total 30 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Cartera                 17628 non-null  object
 1   TipoIden                17628 non-null  object
 2   NUMIDENT                17628 non-null  object
 3   NUMCREDITO              17717 non-null  object
 4   CodigoContable          17628 non-null  float64
 5   SaldoCapital            17628 non-null  float64
 6   SaldoIntereses          17628 non-null  float64
 7   PagoxAsociados          17628 non-null  float64
 8   APORTES                 17628 non-null  float64
 9   AHORROPERMANENTE        0 non-null      float64
 10  VEA                     17628 non-null  float64
 11  VALORGARANTIA           17628 non-null  float64
 12  TIPOGARANTIA            17628 non-null  float64
 13  PORCGARANTIA            17628 non-null  float64
 14  MODELO                  17628 non-null  float64
 15  PI                      17538 non-null  float64
 16  %Deterioro              90 non-null     float64
 17  PDI                     17628 non-null  float64
 18  PDI2                    12132 non-null  float64
 19  PE                      17628 non-null  float64
 20  DETERIOROCAPITAL        17628 non-null  float64
 21  DETERIOROINTERESES      17628 non-null  float64
 22  DETERIOROPAGOASOCIADOS  17628 non-null  float64
 23  SALDOPENDIENTE          0 non-null      float64
 24  PLAZOALICUOTA           0 non-null      float64
 25  VALORALICUOTA           0 non-null      float64
 26  DETERIOROACUM           0 non-null      float64
 27  Provisión               17628 non-null  float64
 28  Provisión intereses     17628 non-null  float64
 29  CodOficina              17628 non-null  float64
dtypes: float64(26), object(4)
memory usage: 4.1+ MB

In [6]:
file_name = "Artificial-Intelligence-journals.xlsx"
file_path = DATA_DIR / file_name

df = pd.read_excel(
    file_path,
    sheet_name="scimagojr 2024 Subject Category",
    )

df

,Rank,Sourceid,Title,Type,Issn,SJR,SJR Quartile,H index,Total Docs. (2024),Total Docs. (3years),...,Ref. / Doc.,%Female,Overton,SDG,Country,Region,Publisher,Coverage,Categories,Areas
0,1,19300156903,Foundations and Trends in Machine Learning,journal,"19358245, 19358237",22797.0,Q1,42,5,12,...,"265,20","25,00",1,0,United States,Northern America,Now Publishers Inc,2008-2024,Artificial Intelligence (Q1); Human-Computer I...,Computer Science
1,2,15631,International Journal of Information Management,journal,2684012,6260.0,Q1,196,85,334,...,"110,87","31,92",2,14,United Kingdom,Western Europe,Elsevier Ltd,"1970, 1986-2025",Artificial Intelligence (Q1); Computer Network...,"Business, Management and Accounting; Computer ..."
2,3,21100886132,Science Robotics,journal,24709476,5940.0,Q1,122,134,304,...,"42,81","26,66",0,18,United States,Northern America,American Association for the Advancement of Sc...,2016-2025,Artificial Intelligence (Q1); Computer Science...,Computer Science; Engineering; Mathematics
3,4,21101007236,Nature Machine Intelligence,journal,25225839,5876.0,Q1,94,177,484,...,"51,44","27,87",2,20,Switzerland,Western Europe,Springer International Publishing,2019-2025,Artificial Intelligence (Q1); Computer Network...,Computer Science
4,5,24254,IEEE Transactions on Pattern Analysis and Mach...,journal,1628828,3910.0,Q1,435,812,2070,...,"80,92","27,12",0,15,United States,Northern America,IEEE Computer Society,1978-2025,Applied Mathematics (Q1); Artificial Intellige...,Computer Science; Mathematics
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156,157,21100792504,Journal of Cognitive Science,journal,"15982327, 19766939",153.0,Q4,8,8,55,...,"48,75","46,15",0,0,South Korea,Asiatic Region,Institute for Cognitive Science at Seoul Natio...,2016-2024,Linguistics and Language (Q3); Artificial Inte...,Computer Science; Neuroscience; Psychology; So...
157,158,21100935898,Computer Science Journal of Moldova,journal,15614042,139.0,Q4,7,21,62,...,"24,90","23,08",0,3,Moldova,Eastern Europe,Institute of Mathematics and Computer Science ...,2019-2024,Artificial Intelligence (Q4); Computational Ma...,Computer Science; Mathematics
158,159,21100411629,Web Intelligence,journal,"24056464, 24056456",136.0,Q4,26,31,78,...,"40,77","45,28",0,8,Netherlands,Western Europe,SAGE Publications Ltd,2015-2024,Artificial Intelligence (Q4); Computer Network...,Computer Science
159,160,21100783205,Horizon. Studies in Phenomenology,journal,"23116986, 22265260",122.0,Q4,4,34,90,...,"25,21","27,03",0,2,Russian Federation,Eastern Europe,Saint Petersburg State University,2012-2024,Philosophy (Q3); Artificial Intelligence (Q4);...,Arts and Humanities; Computer Science; Energy;...
160,161,25476,Intelligent Automation and Soft Computing (dis...,journal,"10798587, 2326005X",NaN,-,41,11,1433,...,"31,82","22,00",0,1,United States,Northern America,Tech Science Press,1995-2024,Artificial Intelligence; Computational Theory ...,Computer Science; Mathematics

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 161 entries, 0 to 160
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Rank                    161 non-null    int64
 1   Sourceid                161 non-null    int64
 2   Title                   161 non-null    object
 3   Type                    161 non-null    object
 4   Issn                    161 non-null    object
 5   SJR                     160 non-null    float64
 6   SJR Quartile            161 non-null    object
 7   H index                 161 non-null    int64
 8   Total Docs. (2024)      161 non-null    int64
 9   Total Docs. (3years)    161 non-null    int64
 10  Total Refs.             161 non-null    int64
 11  Total Cites (3years)    161 non-null    int64
 12  Citable Docs. (3years)  161 non-null    int64
 13  Cites / Doc. (2years)   161 non-null    object
 14  Ref. / Doc.             161 non-null    object
 15  %Female                 161 non-null    object
 16  Overton                 161 non-null    int64
 17  SDG                     161 non-null    int64
 18  Country                 161 non-null    object
 19  Region                  161 non-null    object
 20  Publisher               159 non-null    object
 21  Coverage                161 non-null    object
 22  Categories              161 non-null    object
 23  Areas                   161 non-null    object
dtypes: float64(1), int64(10), object(13)
memory usage: 30.3+ KB

In [8]:
df = pd.read_excel(
    file_path,
    sheet_name="scimagojr 2024 Subject Category",
    thousands='.',
    decimal=','
    )

df

,Rank,Sourceid,Title,Type,Issn,SJR,SJR Quartile,H index,Total Docs. (2024),Total Docs. (3years),...,Ref. / Doc.,%Female,Overton,SDG,Country,Region,Publisher,Coverage,Categories,Areas
0,1,19300156903,Foundations and Trends in Machine Learning,journal,"19358245, 19358237",22797.0,Q1,42,5,12,...,265.20,25.00,1,0,United States,Northern America,Now Publishers Inc,2008-2024,Artificial Intelligence (Q1); Human-Computer I...,Computer Science
1,2,15631,International Journal of Information Management,journal,2684012,6260.0,Q1,196,85,334,...,110.87,31.92,2,14,United Kingdom,Western Europe,Elsevier Ltd,"1970, 1986-2025",Artificial Intelligence (Q1); Computer Network...,"Business, Management and Accounting; Computer ..."
2,3,21100886132,Science Robotics,journal,24709476,5940.0,Q1,122,134,304,...,42.81,26.66,0,18,United States,Northern America,American Association for the Advancement of Sc...,2016-2025,Artificial Intelligence (Q1); Computer Science...,Computer Science; Engineering; Mathematics
3,4,21101007236,Nature Machine Intelligence,journal,25225839,5876.0,Q1,94,177,484,...,51.44,27.87,2,20,Switzerland,Western Europe,Springer International Publishing,2019-2025,Artificial Intelligence (Q1); Computer Network...,Computer Science
4,5,24254,IEEE Transactions on Pattern Analysis and Mach...,journal,1628828,3910.0,Q1,435,812,2070,...,80.92,27.12,0,15,United States,Northern America,IEEE Computer Society,1978-2025,Applied Mathematics (Q1); Artificial Intellige...,Computer Science; Mathematics
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156,157,21100792504,Journal of Cognitive Science,journal,"15982327, 19766939",153.0,Q4,8,8,55,...,48.75,46.15,0,0,South Korea,Asiatic Region,Institute for Cognitive Science at Seoul Natio...,2016-2024,Linguistics and Language (Q3); Artificial Inte...,Computer Science; Neuroscience; Psychology; So...
157,158,21100935898,Computer Science Journal of Moldova,journal,15614042,139.0,Q4,7,21,62,...,24.90,23.08,0,3,Moldova,Eastern Europe,Institute of Mathematics and Computer Science ...,2019-2024,Artificial Intelligence (Q4); Computational Ma...,Computer Science; Mathematics
158,159,21100411629,Web Intelligence,journal,"24056464, 24056456",136.0,Q4,26,31,78,...,40.77,45.28,0,8,Netherlands,Western Europe,SAGE Publications Ltd,2015-2024,Artificial Intelligence (Q4); Computer Network...,Computer Science
159,160,21100783205,Horizon. Studies in Phenomenology,journal,"23116986, 22265260",122.0,Q4,4,34,90,...,25.21,27.03,0,2,Russian Federation,Eastern Europe,Saint Petersburg State University,2012-2024,Philosophy (Q3); Artificial Intelligence (Q4);...,Arts and Humanities; Computer Science; Energy;...
160,161,25476,Intelligent Automation and Soft Computing (dis...,journal,"10798587, 2326005X",NaN,-,41,11,1433,...,31.82,22.00,0,1,United States,Northern America,Tech Science Press,1995-2024,Artificial Intelligence; Computational Theory ...,Computer Science; Mathematics

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 161 entries, 0 to 160
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Rank                    161 non-null    int64
 1   Sourceid                161 non-null    int64
 2   Title                   161 non-null    object
 3   Type                    161 non-null    object
 4   Issn                    161 non-null    object
 5   SJR                     160 non-null    float64
 6   SJR Quartile            161 non-null    object
 7   H index                 161 non-null    int64
 8   Total Docs. (2024)      161 non-null    int64
 9   Total Docs. (3years)    161 non-null    int64
 10  Total Refs.             161 non-null    int64
 11  Total Cites (3years)    161 non-null    int64
 12  Citable Docs. (3years)  161 non-null    int64
 13  Cites / Doc. (2years)   161 non-null    float64
 14  Ref. / Doc.             161 non-null    float64
 15  %Female                 161 non-null    float64
 16  Overton                 161 non-null    int64
 17  SDG                     161 non-null    int64
 18  Country                 161 non-null    object
 19  Region                  161 non-null    object
 20  Publisher               159 non-null    object
 21  Coverage                161 non-null    object
 22  Categories              161 non-null    object
 23  Areas                   161 non-null    object
dtypes: float64(4), int64(10), object(10)
memory usage: 30.3+ KB

# JSON

JSON es un conjunto de formatos de datos simple y legible, muy común en el mundo web.

Dependiendo de su estructura, existen varias formas de cargarlos.

## 1. JSON estándar (archivo completo)

Este es el formato típico.

### a) JSON que es un objeto raíz

Empieza con {:

```python
{
  "scholarships": [
    {"id": 1, "country": "CO"},
    {"id": 2, "country": "MX"}
  ],
  "count": 2
}
```
Estos archivos se cargan así:

In [10]:
import json

file_name = "scholarships.json"
with open(DATA_DIR / file_name, 'r', encoding='utf-8') as f:
    data = json.load(f)

# Extract the list of scholarships from the JSON object
df = pd.DataFrame(data['scholarships'])
df.head()

,title,url,deadline,award,eligibility,last_updated,status,category
0,Education Loan,https://www.buddy4study.com/page/buddy4study-e...,N/A,N/A,N/A,N/A,Active,Education Loan
1,Featured Deadline31 March 2026Buddy4Study Psyc...,https://www.buddy4study.com/page/buddy4study-c...,21 May 2026,Tuition fee waiver,Class 11 and 12,12-01-2026,Closed,Fee Waiver
2,ClosedBath Global Excellence Scholarship 2026 ...,https://www.buddy4study.com/scholarship/bath-g...,21 May 2026,Tuition fee waiver,Class 11 and 12,12-01-2026,Closed,Fee Waiver
3,ClosedShri Tulsi Tanti Shakti Scholarship Prog...,https://www.buddy4study.com/page/suzlon-schola...,21 May 2026,Tuition fee waiver,Class 11 and 12,12-01-2026,Closed,Fee Waiver
4,Last day to goICJ Judicial Fellowship Programm...,https://www.buddy4study.com/scholarship/icj-ju...,21 May 2026,Tuition fee waiver,Class 11 and 12,12-01-2026,Closed,Fellowship

### b) JSON que es una lista raíz
Empieza con [:

```python
[  
    {"id": 1, "country": "CO"},  
    {"id": 2, "country": "MX"}
]
```

Pandas sí lo puede leer directo con `read_json()`:

In [11]:
file_name = "sft_training_conversations.json"
file_path = DATA_DIR / file_name

df = pd.read_json(file_path)
df.head()

                                            messages
0  [{'role': 'system', 'content': 'You are a rare...
1  [{'role': 'system', 'content': 'You are a rare...
2  [{'role': 'system', 'content': 'You are a rare...
3  [{'role': 'system', 'content': 'You are a rare...
4  [{'role': 'system', 'content': 'You are a rare...

Es muy común que los archivos JSON vengan **anidados**, como en este ejemplo. Con `pd.json_normalize()` se pueden *aplanar*.

In [12]:
# Extract all messages into a single list
messages = pd.json_normalize(df['messages'])

all_messages = []
for idx, row in df.iterrows():
	for msg in row['messages']:
		all_messages.append(msg)

# Create a new dataframe from the flattened messages
df_messages = pd.DataFrame(all_messages)
df_messages.head()

        role                                            content
0     system  You are a rare disease expert doctor currently...
1       user  I've been experiencing pain in my chest and lo...
2  assistant  <ask>Can you describe the pain in more detail?...
3       user  It's a deep, aching pain. In my chest, it's mo...
4  assistant  <ask>Have you noticed any skin rashes or chang...

## 2. NDJSON o JSON Lines (line-delimited JSON)

Son objetos individuales separados por saltos de línea, NO agrupados en una lista:

```
{"id":1,"country":"CO"}
{"id":2,"country":"MX"}
{"id":3,"country":"AR"}
```

Características:
- No tiene corchetes [ ]
- Cada línea es un JSON válido independiente
- Muy usado para big data, logs, streaming, etc.

La forma correcta de leer estos archivos es `pd.read_json("archivo.json", lines=True)`:

In [13]:
file_name = "scholarships_nested.ndjson"
file_path = DATA_DIR / file_name
df = pd.read_json(file_path, lines=True)
df.head()

,scholarship_id,program,applicant,education,scores,documents,status,tags,metadata
0,SCH-0001,"{'name': 'Talento Global', 'category': 'PhD', ...","{'id': 'APP-0001', 'name': {'first': 'Carlos',...","[{'level': 'highschool', 'institution': 'ITM',...","{'gre': {'verbal': 164, 'quant': 137, 'awa': 5...","[{'type': 'recommendation', 'url': 'https://ex...","{'stage': 'shortlisted', 'submitted_at': '2024...","[need-based, women, regional]","{'created_at': '2026-01-10', 'updated_at': '20..."
1,SCH-0002,"{'name': 'Equidad e Inclusión', 'category': 'E...","{'id': 'APP-0002', 'name': {'first': 'Valentin...","[{'level': 'undergrad', 'institution': 'UNAM',...","{'gre': {'verbal': 167, 'quant': 155, 'awa': 3...","[{'type': 'essay', 'url': 'https://example.org...","{'stage': 'submitted', 'submitted_at': '2026-1...","[STEM, first-gen]","{'created_at': '2024-08-12', 'updated_at': '20..."
2,SCH-0003,"{'name': 'STEM Excellence', 'category': 'Short...","{'id': 'APP-0003', 'name': {'first': 'Jhon', '...","[{'level': 'master', 'institution': 'UC Chile'...","{'gre': {'verbal': 135, 'quant': 135, 'awa': 4...","[{'type': 'transcript', 'url': 'https://exampl...","{'stage': 'draft', 'submitted_at': '2026-12-26...",[international],"{'created_at': '2026-08-31', 'updated_at': '20..."
3,SCH-0004,"{'name': 'Innovación Social', 'category': 'Exc...","{'id': 'APP-0004', 'name': {'first': 'Jhon', '...","[{'level': 'highschool', 'institution': 'UNAM'...","{'gre': {'verbal': 142, 'quant': 142, 'awa': 4...","[{'type': 'transcript', 'url': 'https://exampl...","{'stage': 'submitted', 'submitted_at': '2026-0...",[need-based],"{'created_at': '2026-08-05', 'updated_at': '20..."
4,SCH-0005,"{'name': 'STEM Excellence', 'category': 'Short...","{'id': 'APP-0005', 'name': {'first': 'María', ...","[{'level': 'undergrad', 'institution': 'EAFIT'...","{'gre': {'verbal': 145, 'quant': 155, 'awa': 2...","[{'type': 'essay', 'url': 'https://example.org...","{'stage': 'awarded', 'submitted_at': '2025-05-...","[regional, STEM, first-gen]","{'created_at': '2024-06-16', 'updated_at': '20..."

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   scholarship_id  100 non-null    object
 1   program         100 non-null    object
 2   applicant       100 non-null    object
 3   education       100 non-null    object
 4   scores          100 non-null    object
 5   documents       100 non-null    object
 6   status          100 non-null    object
 7   tags            100 non-null    object
 8   metadata        100 non-null    object
dtypes: object(9)
memory usage: 7.2+ KB

In [15]:
df_applicants = pd.json_normalize(df['applicant'])
df_applicants.head()

,id,birthdate,nationality,name.first,name.last,name.full,contacts.email,contacts.phone,contacts.address.street,contacts.address.city,contacts.address.region,contacts.address.postal_code,contacts.address.geo.lat,contacts.address.geo.lon
0,APP-0001,1990-01-29,CL,Carlos,García,Carlos García,carlos.garcía@mail.com,+57 362622631,Calle 46 #45-78,Santiago,—,54333,1.498979,-47.783679
1,APP-0002,1993-12-09,CO,Valentina,Martínez,Valentina Martínez,valentina.martínez@mail.com,+57 325137722,Calle 96 #72-69,Bogotá,Antioquia,54304,-2.709033,-63.149875
2,APP-0003,1998-12-16,MX,Jhon,Restrepo,Jhon Restrepo,jhon.restrepo@mail.com,+57 302876828,Calle 119 #47-40,Puebla,—,53923,-50.945238,-40.221510
3,APP-0004,1998-06-22,UY,Jhon,Ramírez,Jhon Ramírez,jhon.ramírez@mail.com,+57 302651177,Calle 8 #52-94,Montevideo,—,55559,1.041476,-79.427279
4,APP-0005,1999-04-12,MX,María,Moreno,María Moreno,maría.moreno@mail.com,+57 383641282,Calle 8 #66-11,CDMX,—,53044,-50.203507,-81.533996

In [16]:
df_applicants.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            100 non-null    object
 1   birthdate                     100 non-null    object
 2   nationality                   100 non-null    object
 3   name.first                    100 non-null    object
 4   name.last                     100 non-null    object
 5   name.full                     100 non-null    object
 6   contacts.email                100 non-null    object
 7   contacts.phone                100 non-null    object
 8   contacts.address.street       100 non-null    object
 9   contacts.address.city         100 non-null    object
 10  contacts.address.region       100 non-null    object
 11  contacts.address.postal_code  100 non-null    object
 12  contacts.address.geo.lat      100 non-null    float64
 13  contacts.address.geo.lon      100 non-null    float64
dtypes: float64(2), object(12)
memory usage: 11.1+ KB

# SQL

SQL es el lenguaje estándar para interactuar con bases de datos relacionales. Además, SQL es una de las formas más comunes de almacenar datos reales en empresas.

Para que **Pandas** "hable" con una base de datos, necesitamos un motor de conexión (*engine*) que traduce los comandos de Python al dialecto específico de la base de datos (PostgreSQL, MySQL, SQLite, etc.). 

El estándar en Python es **SQLAlchemy**, que permite crear *engines* a distintas bases de datos. Por ejemplo, para crear un engine para MariaDB, la línea de código a usar sería esta:

```python
engine = create_engine("mysql+pymysql://usuario:password@localhost:3306/mi_base")
```

Y a SQL Server:

```python
engine = create_engine(
    "mssql+pyodbc://usuario:password@Servidor/mi_base?driver=ODBC+Driver+17+for+SQL+Server"
)
```

In [17]:
from sqlalchemy import create_engine

In [18]:
file_name = "olist.sqlite"
file_path = DATA_DIR / file_name
engine = create_engine(f'sqlite:///{file_path}')

In [19]:
tables = pd.read_sql("SELECT name FROM sqlite_master WHERE type='table';", engine)
print(tables)

                                 name
0   product_category_name_translation
1                             sellers
2                           customers
3                         geolocation
4                         order_items
5                      order_payments
6                       order_reviews
7                              orders
8                            products
9                     leads_qualified
10                       leads_closed

In [20]:
df_sellers = pd.read_sql("SELECT * FROM sellers;", engine)
df_sellers.head()

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP

In [21]:
df_sellers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3095 entries, 0 to 3094
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   seller_id               3095 non-null   object
 1   seller_zip_code_prefix  3095 non-null   int64
 2   seller_city             3095 non-null   object
 3   seller_state            3095 non-null   object
dtypes: int64(1), object(3)
memory usage: 96.8+ KB

In [22]:
query = """
SELECT seller_zip_code_prefix, seller_city, seller_state
FROM sellers
WHERE seller_state = 'SP';
"""
df_sellers_sp = pd.read_sql(query, engine)
df_sellers_sp.head()

   seller_zip_code_prefix        seller_city seller_state
0                   13023           campinas           SP
1                   13844         mogi guacu           SP
2                    4195          sao paulo           SP
3                   12914  braganca paulista           SP
4                   16304          penapolis           SP

In [23]:
df_sellers_sp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1849 entries, 0 to 1848
Data columns (total 3 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   seller_zip_code_prefix  1849 non-null   int64
 1   seller_city             1849 non-null   object
 2   seller_state            1849 non-null   object
dtypes: int64(1), object(2)
memory usage: 43.5+ KB

# Parquet

**Apache Parquet** es un formato de almacenamiento de datos:

*   **Columna**–orientado
*   **Altamente comprimido**
*   Optimizado para **lecturas rápidas**
*   Usado en entornos Big Data (Spark, Hadoop, AWS Athena, BigQuery…)

Es ideal cuando se trabaja con grandes volúmenes de datos.

**¿Por qué usar Parquet en vez de CSV?**

| Característica    | CSV          | Parquet        |
| ----------------- | ------------ | -------------- |
| Tipo              | texto plano  | binario        |
| Compresión        | baja         | alta           |
| Velocidad lectura | lenta        | muy rápida     |
| Tipos de datos    | pierde tipos | mantiene tipos |
| Tamaño            | grande       | mucho menor    |

En conclusión, Parquet es más eficiente y profesional para análisis de datos.

***

**¿Cómo cargar un archivo Parquet en Pandas?**

Se necesita una librería para leer Parquet. Pandas usa:

*   **pyarrow** (recomendada)
*   **fastparquet**

### Cargar un fichero Parquet

```python
import pandas as pd

df = pd.read_parquet("datos.parquet")
df.head()
```

### Lectura de múltiples archivos Parquet (carpeta)

Muy útil si los datos vienen particionados:

```python
import glob
import pandas as pd

files = glob.glob("datos/*.parquet")
df = pd.concat([pd.read_parquet(f) for f in files])
```

In [24]:
file_name = "USDINR_Options_2018_2025.parquet"
file_path = DATA_DIR / file_name

df_options = pd.read_parquet(file_path, engine='pyarrow')
df_options.head()

,Trade_date_opt,Option_Type,Strike_Price,Opt_Settlement_Price,Expiry_date_opt,T_Years,Tenor_Bucket,Spot,Forward_rates
0,2018-01-01,CE,60.75,3.1300,2018-01-29,0.076712,1M,63.6697,63.8775
1,2018-01-01,PE,60.75,0.0000,2018-01-29,0.076712,1M,63.6697,63.8775
2,2018-01-01,CE,61.00,2.8775,2018-01-29,0.076712,1M,63.6697,63.8775
3,2018-01-01,PE,61.00,0.0000,2018-01-29,0.076712,1M,63.6697,63.8775
4,2018-01-01,CE,61.25,2.6400,2018-01-29,0.076712,1M,63.6697,63.8775

In [25]:
df_options.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2167778 entries, 0 to 2167777
Data columns (total 9 columns):
 #   Column                Dtype
---  ------                -----
 0   Trade_date_opt        datetime64[ns]
 1   Option_Type           object
 2   Strike_Price          float64
 3   Opt_Settlement_Price  float64
 4   Expiry_date_opt       datetime64[ns]
 5   T_Years               float64
 6   Tenor_Bucket          object
 7   Spot                  float64
 8   Forward_rates         float64
dtypes: datetime64[ns](2), float64(5), object(2)
memory usage: 148.8+ MB